body {
	background-color: white;
}

h1, p {
	font-family: Futura, Verdana, sans-serif;
	margin: 0 0;
}

header {
	margin-top: 5em;
	margin-bottom: 2em;
}

header picture * {
	width: 45px;
}

.center {
	text-align: center;
}

.title {
	padding-bottom: 5px;
}

#first_name {
	color: red;
}

#first_name.paddys {
	color: #1FB25F;
}

#first_name.bday {
	color: #DAA520;
}

#first_name.halloween {
	color: #F4831B;
}

#related-links {
	margin: 2.5em auto;
	text-align: center;
}

#related-links a {
	color: inherit;
	margin: 5px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: inline-block;
}

#related-links a img {
	width: 16px;
	height: inherit;
	filter: invert(1);
}

#related-links #github {
	background-color: black;
}

#related-links #linkedin {
	background-color: #0077B5;
	border-color: #0077B5;
}

#related-links #twitter {
	background-color: #1DA1F2;
	border-color: #1DA1F2;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}

	h1, p {
		color: white;
	}

	#related-links #github {
		background-color: white;
		border-color: white;
	}

	#related-links #github img {
		filter: invert(0) !important;
	}
}