<header class="center" style="padding-top: 5em;">
	<img alt="Logo" id="logo"/>
</header>
<section>
	<h1 class="center">
		<span id="first_name">nick</span>mcguire
	</h1>
	<p class="center">iOS | Go | Rails</p>
	<div id="list">
		<ul>
			<li><a href="https://github.com/pudgeball"><img alt="Github" src="images/github.png"></a></li>
			<li><a href="https://twitter.com/nickmcguire"><img alt="Twitter" src="images/twitter.png"></a></li>
		</ul>
	</div>
</section>