<header class="center">
	<img alt="Logo" id="logo"/>
</header>
<section>
	<h1 class="center">
		<span id="first_name">nick</span>mcguire
	</h1>
	<p class="center">iOS | Go | Rails</p>
	<div id="social-list">
		<a id="github-icon" class="social" href="https://github.com/pudgeball"></a>
		<a id="twitter-icon" class="social" href="https://twitter.com/nickmcguire"></a>
	</div>
</section>