/* Overrides */
h1, p {
	font-family: Futura, Verdana, sans-serif;
	margin: 0 0;
}

header {
	margin-top: 5em;
	margin-bottom: 2em;
}

a {
	color: inherit;
}

/* Classes */
.social {
	margin: 5px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 3px solid;
	display: inline-block;
}

.center {
	text-align: center;
}

/* IDs */
#first_name {
	color: red;
}

#logo {
	content: url('/images/logo.png');
	height: 135px;
 	width: 44px;
}

#github-icon {
	background-color: black;
	content: url('/images/github.png');
}

#twitter-icon {
	background-color: #4099FF;
	content: url('/images/twitter.png');
	border-color: #2F54E8;
}

#social-list {
	width: 120px;
	margin: 2.5em auto;
	text-align: center;
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
	#logo {
		content: url('/images/logo@2x.png');
	}

	#github-icon {
		content: url('/images/github@2x.png');
	}

	#twitter-icon {
		content: url('/images/twitter@2x.png');
	}
}
